<h2>My Customers</h2>

<div>
  <label for="new-hero">Customer name: </label>
  <input id="customer-name" #name />
  
  <label for="new-hero">Phone: </label>
  <input id="customer-phone" #phone />
  <br>
  <label for="new-hero">City: </label>
  <input id="customer-city" #city />
  <br>
  <label for="new-hero">State: </label>
  <input id="customer-state" #state />
  <br>
  <label for="new-hero">Pincode: </label>
  <input id="customer-pin" #pincode />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)=
              "add(name.value, phone.value, city.value, state.value, pincode.value); name.value=''">
    Add Customer
  </button> 
</div>

<ul class="customers">
  <li *ngFor="let customer of customers">
    <a routerLink="/detail/{{customer.customerId}}">
      <span class="badge">{{customer.customerId}}</span> {{customer.customerName}}
    </a>
    <button type="button" class="delete" title="delete customer"
      (click)="delete(customer)">x</button>
  </li>
</ul>
